# Popularity-Based Recommenders

In [1]:
import pandas as pd
import numpy as np

### Reading in the datasets

In [2]:
frame = pd.read_csv('rating_final.csv')
cuisine = pd.read_csv('chefmozcuisine.csv')

### Let's take a look at these datasets

In [3]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [4]:
cuisine.
()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommendations based on counts

#### To find the place that's most popular, we'll do that by counting up the number of ratings each place has got and converting that array to a data frame.

In [5]:
# Using panda's data frame generator pd.DataFrame()- This fn converts the output of our groupby() fn into its own dataframe
# And let's call this new dataframe rating_count
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())
# Let's also sort the places in descending order according to the no of reviews they received
rating_count.sort_values('rating', ascending=False).head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

### Now let's take the top five most often rated places and see if they have any similarities between the cuisines that they serve.

In [7]:
# To do that, we'll first make a dataframe of the place IDs of the most often rated places, 
# then we'll merge that dataframe with the cuisine dataframe 
most_rated_places = pd.DataFrame([135085, 132825, 135032, 135052, 132834], index=np.arange(5), columns=['placeID'])
summary = pd.merge(most_rated_places, cuisine, on='placeID')
summary
# Thus, we'll get a list of most popular places in town and types of cuisines that are served at each of them.

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

### Let's see how many types of cuisine are available from places in this dataset, in total

In [8]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object